body {background-image:url('logo/cartbg.jpg');no-repeat center center fixed;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    margin:auto;
    width:930px;
    margin-top:150px;
}


.text_cart
{
    color:#fff;
    font:13px Arial;
    margin-bottom:15px;
    font-weight:bold;
}

#header_cart
{
    background:url(logo/header.png);
    width:930px;
    height:40px;
}

.grey_part
{
    background:#f2f1f1;
    text-align:center;
    font:14px Arial;
    font-weight:bold;
    border-right:2px solid #e3e3e3;
    border-bottom:2px solid #e3e3e3;
}

.white_part
{
    background:#fff;
    text-align:center;
    font:14px Arial;
    font-weight:bold;
    border-right:2px solid #e3e3e3;
    border-bottom:2px solid #e3e3e3;
}

table
{
    border-collapse:collapse;
}

input[type=text]
{
    width:199px;
    height:35px;
    padding:0;
    border-radius:10px;
    outline:none;
    border:none;
    padding-left:15px;
    margin-right:15px;
}